.pokemon-details {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  padding-bottom: 2rem;
}

.pokemon-details__overview {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
  align-items: stretch;
}

@media (max-width: 48rem) {
  .pokemon-details {
    gap: 2rem;
  }

  .pokemon-details__overview {
    grid-template-columns: 1fr;
  }
}
