.search-bar {
  display: flex;
  align-items: stretch;
  gap: var(--spacing-sm);

  width: 100%;
  max-width: 40rem;
}

.search-bar .input {
  flex: 1;

  min-width: 0;
}

@media (max-width: 30rem) {
  .search-bar {
    flex-direction: column;
  }

  .search-bar .button {
    width: 100%;
  }
}
